.home {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);

  .box {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--soft-bg);
    /* background-color: rgba(173, 216, 230, 0.5); */
  }

  .box1,
  .box4 {
    grid-row: span 3;
    grid-column: span 1;
  }

  .box7 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .box8 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
